version: '3.8'

services:
  # Node.js Application
  app:
    build: .
    ports:
      - "3001:3000"
    environment:
      - MONGO_URI=mongodb://db:27017/devblog
      - PORT=3000
    depends_on:
      - db
    restart: always

  # MongoDB Database
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=db
    depends_on:
      - db

volumes:
  mongo_data: